.backButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -20px;
  width: 300px;
  height: 40px;
  background-color: transparent;
  color: var(--secondary-main);
}

.backButton:active {
  background-color: var(--green-light);
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 2rem;

  @media screen and (min-width: 992px) {
    min-width: 394px;
    padding-bottom: 0;
    width: 30%;
  }
}

.descriptionContainer h2 {
  color: var(--black-main);
  font-size: 36px;
  font-weight: 500;
  margin-top: -0.5em;
}

.dropDown {
  margin-top: -2em;
}

.dropDown button,
.dropDown button:hover,
.dropDown button:active {
  margin-left: -0.5em;
  text-align: left;
  width: 394px;
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
  color: var(--black-light) !important;
  font-size: 24px;
  font-weight: 600;
}

.dropDownMenu {
  margin-left: -0.5em;
  background-color: transparent;
  border: transparent;
  max-height: 62vh;
  min-width: 380px;
  overflow-y: auto;

  @media screen and (max-width: 991.98px) {
    position: static !important;
    max-height: 100%;
    min-width: 100%;
    transform: none !important;
  }
}

.dropDownMenu h4 {
  padding-left: 1.5rem;
  padding-top: 0.25rem;
  font-size: 18px;
  font-weight: 500;
  color: var(--black-light);
}

.dropDownMenu p {
  padding-left: 1.5rem;
  font-size: 14px;
  font-weight: 400;
  color: var(--black-light);
}

.dropDownMenu button,
.dropDownMenu button:hover,
.dropDownMenu button:active {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-main) !important;
}

.dropdown-toggle::after {
  display: none;
}
