@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    --primary-main: #BA2CEC;
    --primary-dark: #5F067E;
    --secondary-main: #8154FF;
    --white-main: #FFFFFF;
    --black-main: #080014;
    --black-light: #393242;
    --black-extralight: #96929B;
    --black-extraextralight: #CECDD0;
    --blue-main: #2F80ED;
    --blue-light: #D5E6FB;
    --green-main: #27AE60;
    --green-light: #DEF1E6;
    --grey-main: #F4F4F4;
    --grey-light: #FAFAFA;
    --error-main: #FF475D;
    --red-light: #FFDADF;
    --red-extralight: #FFDAD0;

    --black-background-transparent: #08001480;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    font-family: "Poppins", sans-serif !important;
    margin: 0;
    display: flex;
    place-items: center;
    background: url("assets/img/hero-background.png") center;
    background-size: cover;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.page-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    min-width: 100vw;
    min-height: 100vh;

    padding-right: 0;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}
