{
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.jsonc", ".eslintrc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ],
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "arrowParens": "avoid"
}
