.loader {
  --size: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--size));
  height: calc(var(--size) * 5);
  width: 80px;
}

.loader div {
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  background-color: #ffd700;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  25% {
    height: calc(var(--size) * 5);
    background-color: #fc00ff;
  }

  50% {
    height: var(--size);
    background-color: #9c73f8;
  }
}

.loader :nth-child(2) {
  animation-delay: 0.2s;
}

.loader :nth-child(3) {
  animation-delay: 0.4s;
}

.loader :nth-child(4) {
  animation-delay: 0.6s;
}

.loader :nth-child(5) {
  animation-delay: 0.8s;
}
