.heroContent {
    width: 60%;
    color: var(--black-main);
    margin: 80px auto;
    padding: 0;
}

.messageBox {
    width: 100%;
}

.messageBox h1 {
    text-align: center;
    margin-bottom: 25px;

    color: var(--black-main);
    line-height: 72px;
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
}

.messageBox p {
    text-align: center;
    line-height: 28px;
    margin-bottom: 32px;

    color: var(--black-light);
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonGroup button {
    height: 40px;
    width: 240px;
    line-height: 24px;
    border-radius: 2px;
    background-color: var(--primary-main);

    color: var(--white-main);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.buttonGroup button:hover {
    background-color: var(--secondary-main);
}