.Home {
    background: url("../../assets/img/hero-background.png") center;
    background-size: cover;
    min-height: 100%;
    box-sizing: border-box;
    color: white;
    width: 100vw;
    height: 100vh;
}

.HeroContent {
    box-sizing: border-box;
    position: absolute;
    top: 5%;
    left: 20%;
    width: 60%;
    color: #080014;
    margin: 80px auto;
    padding: 0;
}

.MessageBox {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.MessageBox h1 {
    text-align: center;
    margin-bottom: 25px;

    color: #080014;
    line-height: 72px;
    font-size: 64px;
    font-weight: 600;
    font-style: normal;
}

.MessageBox p {
    text-align: center;
    line-height: 28px;
    margin-bottom: 32px;

    color: #393242;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ButtonGroup button {
    height: 40px;
    width: 240px;
    line-height: 24px;
    border-radius: 2px;
    background-color: #BA2CEC;

    color: #FFFFFF;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.ButtonGroup {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}