.form {
    text-align: center !important;
}

.form h3 {
    text-align: left !important;
    line-height: 24px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-top: 1.5rem;
    margin-left: 1.75rem;
}

.radioButtonWrapper {
    height: 92px !important;
    width: 290px !important;
    border: 1px solid var(--black-extraextralight);
    background-color: var(--grey-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}

input[type=radio] {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: 0.35rem;
    accent-color: var(--secondary-main);
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-top: 12px;
    margin-left: 2rem;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    align-items: center;
    margin-top: -0.25rem;
}

.subLabel {
    line-height: 16px;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    margin-left: 6.25rem;
    padding-right: 2rem;
    margin-top: -0.25rem;

    display: inline-block;
    color: var(--black-extralight);
    text-align: left;
}

.authVariants {
    gap: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formButtons {
    margin-top: 40px;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.formButtons button {
    width: 80px !important;
    height: 40px !important;
    padding: 0 0 0 0 !important;

    line-height: 20px !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}

.cancel {
    background-color: var(--grey-light) !important;
    color: var(--black-main) !important;
}
