.Header {
    display: flex;
    width: 100%;
}

.navBar {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding:1.5rem 5%;

    @media screen and (min-width: 992px) {
        padding-bottom: 0;
        min-height: 80px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.navBar p {
    color: var(--black-light);
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
}

.navBar img {
    height: 28px;
    width: 140px;
}

.navBar button, .navBar button:hover, .navBar button:active {
    height: 28px !important;
    width: 231px !important;
    background: transparent !important;
    border: transparent !important;
    box-shadow: none !important;
    color: var(--black-main) !important;
    padding: 0;
}

.dropDown {
    margin-top: -0.4rem;
}

.dropDownMenu {
    background-color: var(--black-main);
    min-width: 290px;
    max-width: 100%;
}

.dropDownMenu h4 {
    padding-left: 1.5rem;
    padding-top: 0.25rem;
    font-size: 18px;
    font-weight: 500;
    color: var(--white-main);
}

.dropDownMenu p {
    padding-left: 1.5rem;
    font-size: 14px;
    font-weight: 400;
    color: var(--black-extralight);
}

.dropDownMenu button, .dropDownMenu button:hover, .dropDownMenu button:active {
    padding-left: 1.5rem;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-main) !important;
}

.logo {
    display: flex;
    justify-content: start;
    height: 28px;
    width: 140px;
    margin-top: -0.4rem;
}

.headerEnd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
    margin-top: -24px;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        gap: 0;
        padding-right: 5%;
        margin-top: 0;
    }
}

.navLink {
    height: 28px;
    width: 140px;
}
