.contentContainer {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    justify-content: space-between;

    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
    }
}