.formContainer {
  margin: 6rem 10rem 0 0;
  padding: 0 0 1rem 3rem;
  width: 50%;
  min-width: 500px;
  background-color: var(--white-main);
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 #0800143d !important;
  display: flex;
  flex-direction: column;
}

.formContainer h2 {
  color: var(--primary-dark);
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  width: 100%;
  margin-top: 3rem;
}

.divider {
  border-bottom: 1px solid var(--grey-main);
  width: 85%;
  align-self: center;
}

.triggerForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.5rem;
}

.triggerForm h3 {
  color: var(--black-main);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  width: 100%;
}

.triggerForm input,
label {
  display: block;
}

.triggerForm label {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.triggerForm label:after {
  content: ' *';
  color: var(--secondary-main);
}

.triggerForm input {
  height: 40px;
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 2px;
  border-style: solid;
  border-color: var(--black-extraextralight);
}

.triggerForm button {
  margin: 0.5rem 2.5rem 0 0;
  width: 120px;
  height: 40px;
  border-radius: 2px;
  color: var(--white-main);
  background-color: var(--primary-main);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  align-self: end;
}

.triggerForm button:disabled {
  display: flex;
  justify-content: space-around;
  padding: 0;
  align-items: center;
  background-color: var(--grey-main);
  color: var(--black-extralight);
  cursor: not-allowed;
}
